.container-card {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  height: 100%;
  border: 1px solid #dfd9d9;
  margin: 1%;
}
.whiteDolars {
  color: white;
  font-weight: 600;
  letter-spacing: 2px;
}
.greyDolars {
  color: #57b5f2;
  font-weight: 600;
  letter-spacing: 2px;
}
.blue-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #249bed;
  border-radius: 4px 0 0 4px;
  padding: 5%;
}
.big-container {
  display: flex;
  border-radius: 3px;
  height: 30px;
  box-sizing: content-box;
  margin: 10px 0 0 10px;
  text-align: left;
  font-size: 15px;
  align-items: center;
}
.box-text {
  display: flex;
  align-items: center;
  height: 121%;
  background-color: #f4f4f4;
  padding: 0 10px 0 10px;
  border-radius: 0 4px 4px 0;
}
.price-container {
  display: flex;
  border-radius: 3px;
  height: 30px;
  width: 20%;
  box-sizing: content-box;
  padding: 0 10px 0 10px;
  text-align: left;
  font-size: 15px;
  align-items: center;
  background-color: #249bed;
  margin: 10px 0 15px 20px;
}
.card-button {
  display: flex;
  background-color: #34d5b1;
  height: 40px;
  width: 100%;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: lighter;
  justify-content: center;
  align-items: center;
}

.card-button:hover {
  background-color: rgb(212, 95, 87);
}

.card-button:active {
  background-color: rgb(19, 107, 92);
}
.location-room-price {
  display: flex;
  flex-wrap: wrap;
  margin-right: 4%;
  padding: 3%;
  height: 100%;
  width: 100%;
  flex-direction: column;
}
